<!DOCTYPE html>

<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Check-In</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='assets/css/dev.css'>
    <script src="assets/js/qr_helper.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <div id="full-container">
        <h1 style="width: 100%; text-align: center;" id="meal-name">Meal Name</h1>
        <form id="tick_aten" style="margin-top: 30px;">
            
        </form>
    </div>
    <script src="assets/js/food_coupon_data.js"></script>
</body>

</html>