<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>View All Bookings</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='assets/css/list.css'>
</head>

<body>
    <nav>
        <h1>View All Bookings</h3>
    </nav>

    <div id="dashboard-details">
        <div class="count-booked">
            <h1 id="count-total">45</h1>
            <span>Meals booked</span>
        </div>
        <div class="count-revenue">
            <h1 id="count-total">SEK3612.77</h1>
            <span>Total Revenue (food bookings)</span>
        </div>
    </div>
    <input type="text" placeholder="Search"
        style="border-radius: 0; border: 2px solid rgb(21, 23, 26); padding: 12px; font-size: 20px; margin: 20px; margin-left: 2.5%; outline: none;">
    <table id="bookings-list">
        <tr>
            <th>Booking Ref</th>
            <th>Meal Name</th>
            <th>Email</th>
            <th>Full Name</th>
            <th>Number of People</th>
        </tr>
    </table>
    <!-- <div id="bookings-list">
        <div class="booking demo">
            <span class="booking-ref">Booking Ref</span>
            <span class="meal-name">Meal Name</span>
            <span class="email">Email</span>
            <span class="name">Full Name</span>
            <span class="number-of-people">Number of People</span>
        </div>
        <div class="booking">
            <span class="booking-ref">A1BC8SJMW57V</span>
            <span class="meal-name">Lunch 1</span>
            <span class="email">dibyendu0710@gmail.com</span>
            <span class="name">Dibyendu Das</span>
            <span class="number-of-people">3</span>
        </div>
    </div> -->
    <script src='assets/js/list_bookings.js'></script>
</body>

</html>